<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!DOCTYPE html>


<html>
 <head>
  <title>Here are your Recommendation</title>

 </head>
 <body>
 <form action = "hello" method="post">
  <div class="form-group">
    <label for="userId">User ID</label>
    <input type="number" class="form-control" id="userId" name= "nm" aria-describedby="userIdHelp" placeholder="Enter SJSU ID">
  </div>
  <button type="submit" class="btn btn-primary">Go</button>
  </form>
    {{first_name}}
   <form action = "search" method="post">
  <div class="form-group">
    <label for="SearchQuery">Search</label>
    <input type="SearchQuery" class="form-control" id="SearchQuery" placeholder="Enter your Search" name="submit">
  </div>
  <button type="submit" class="btn btn-primary">Go</button>
  </form>


 </body>
</html>


